/*=====================================
=            HERO APLICACIONES         =
=====================================*/



/*=====================================
=         APPS HIGHLIGHTS             =
=====================================*/



/*==========================================
GRILL UP
==========================================*/



.app-download{
    padding:0 30px 50px;
    background:#F8FAFD;
}

.store-buttons{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:70px;
    flex-wrap:wrap;
}

.store-card{
    width:320px;
    height:92px;
    border:2px solid #E3E8EF;
    border-radius:22px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:18px;
    text-decoration:none;
    transition:.3s;
    background:#FFF;
}

.store-card:hover{
    transform:translateY(-5px);
    border-color:#0077DD;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.store-card img{
    width:42px;
}

.store-card span{
    font-size:1.8rem;
    font-weight:600;
    color:#111;
}

/* ==========================================
   RESPONSIVE - APP PROJECT
========================================== */

@media (max-width: 1024px){
.app-grid {
    grid-template-columns: 400px 1fr;
    gap:40px;
}

.contribution-grid {
    grid-template-columns: repeat(2, 1fr);
}
}

/* ==========================================
   RESPONSIVE - APP PROJECT
========================================== */

@media (max-width: 992px){

.app-grid{
    grid-template-columns:1fr;
    gap:50px;
}

.app-image{
    order:1;
}

.app-content{
    order:2;
}

.case-data{
    justify-content:center;
}
.case-links{
    justify-content:center;
}

.contribution-grid{
    grid-template-columns:repeat(2,1fr);
}

.gallery-grid{
    gap:25px;
}

.support-grid{
        gap:25px;
}
}

@media (max-width:768px){
.app-case{
    padding:50px 0 30px;
}

.case-data{
    gap:18px;
    justify-content:center;
}

.case-links{
    flex-direction:column;
    gap:18px;
}

.contribution{
    padding:50px 20px 30px;
}

.contribution-grid{
    grid-template-columns:1fr;
    gap:24px;
}

.contribution-card{
    padding:40px 30px;
}

.app-gallery{
    padding:50px 0 30px;
}

.gallery-card img {
    max-width: 250px;
}
    
.gallery-grid{
    grid-template-columns:1fr;
}
    
.app-support{
    padding:50px 20px 30px;
}

.support-image{
    margin-top:30px;
}

.support-image img {
    border-radius: 12px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .08);
}
    
.support-grid{
    grid-template-columns:1fr;
}

.app-download{
    padding:0 20px 30px;
}

.store-card{
    width:100%;
    max-width:360px;
}

.store-card span{
    font-size:1.4rem;
}

.apps-hero .container {
    padding: 0;
}

.container {
    padding: 0;
}
}

@media (max-width: 480px){
.app-image img{
    width:190px;
}

.case-data{
    flex-direction:column;
    align-items:center;
    gap:14px;
    justify-content:center;
}

.case-links{
    justify-content:center;
    flex-wrap:wrap;
}
    
.app-grid{
    grid-template-columns:1fr;
    gap:40px;
    text-align:center;
}
    
.contribution-card{
    padding:35px 24px;
}

.contribution-card i{
    font-size:38px;
}
    
.gallery-card figcaption{
    padding:16px;
    font-size:.95rem;
}

.support-card figcaption{
    padding:16px;
    font-size:.95rem;
}
}
